body
{
	background-color: #ecf0f1;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: #333;

	width: 100%;
	height: 100%;
}

#scrap-container
{
	margin-left: auto;
	margin-right: auto;
}

#scrap-screen
{
	padding: 0.8em 1em 1em 1em;
	overflow-y: scroll;
	float: left;
	position: relative;
}

#scrap-screen-overlay
{
	position: absolute;
	display: inline;

	right: 1px;

	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-bottom-left-radius: 4px;

	padding: 0.3% 0.5%;

	background-color: #fff;

	white-space: nowrap;
}

#scrap-screen-overlay h2
{
	font-size: medium;
	font-weight: bold;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-right: 3%;
	display: inline;
}

#scrap-screen-controls
{
	font-size: small;
}

#scrap-screen td:first-child
{
	text-align: center;
	font-weight: bold;
	padding-right: 1em;
	border-right: 1px solid #ccc;
}

#scrap-screen td
{
	padding: 1em;
	vertical-align: middle;
}

#scrap-screen td:first-child
{
	white-space: nowrap;
	vertical-align: top;
}

#scrap-screen td:last-child
{
	word-break: break-word;
	width: 100%;
}

#scrap-screen table
{
	width: 100%;
}

#scrap-screen tr
{
	width: 100%;
	border-bottom: 1px solid #eee;
}

#scrap-screen tr:last-child
{
	border: none;
}

#scrap-right-dock
{
	float: right;
}

#scrap-right-dock h2
{
	font-size: small;
	font-weight: bold;
	text-align: center;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

#scrap-user-list-wrapper
{
	width: 100%;
	margin: 0;
}

#scrap-window-list-wrapper
{
	width: 100%;
}

#scrap-window-list .btn
{
	width: 100%;
}

#scrap-input-group
{
	margin-top: 0;
	clear: both;
}

.scrollable-vertical-group
{
	display: inline-block;
	overflow-x: hidden;

}

.scrollable-vertical-group > *
{
	display: block;
	margin: -1px;
}

.allow-children-vfill
{
	display: flex;
	flex-direction: column;
}

.vfill
{
	flex: 1;
}

.allow-children-hfill
{
	display: flex;
	flex-direction: row;
}

.hfill
{
	flex: 1;
}

.time
{
	font-weight:bold;
}

.name
{
	font-weight: bold;
}

.success
{
	font-weight: bold;
	color: green;
}

.error
{
	font-weight: bold;
	color: red;
}

.info
{
	font-weight: bold;
	color: blue;
}
